<%= form_with model: @list do |f| %>
  <div class="form-group">
    <%= f.label :title, 'Titulo' %>
    <%= f.text_field :title, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :description, 'Descrição' %>
    <%= f.text_field :description, class: 'form-control' %>
  </div>
  
  <%= collection_radio_buttons( :list, :status, List.statuses, :first, :first) do |b| %>
    <div class="form-check form-check-inline">
      <%= b.label(:"data-value" => b.value) { b.radio_button(class: 'form-check-input') + b.text.capitalize } %>
    </div>
  <% end %>

  <table class="table">
    <tbody class="task-fields"></tbody>
  </table>

  <div class="modal-footer">
    <%= link_to_add_task 'Adicionar tarefa', f, :tasks, class: 'btn btn-warning' %>
    <%= f.submit @list.new_record? ? 'Criar lista' : 'Salvar mudanças', class: 'btn btn-primary' %>
  </div>
<% end %>

<script>
 $('form').on('click', '.add-task-fields', function(event) {
    var regexp, time;
    time = new Date().getTime();
    regexp = new RegExp($(this).data('id'), 'g');
    $('.task-fields').append($(this).data('fields').replace(regexp, time));
    return event.preventDefault();
  });

  $('form').on('click', '.remove-task-field', function(event){
    $(this).prev('input[type=hidden]').val('1');
    $(this).closest('tr').fadeOut();
    return event.preventDefault();
  })
</script>